.gradient-background {
    background: linear-gradient(300deg, #edeaf0, #17181c, #8b0dad);
    background-size: 180% 180%;
    animation: gradient-animation 19s ease infinite;
  
   /*background-size: cover; */
    background-repeat: no-repeat; 
    background-attachment: fixed; /* Keep background fixed when scrolling */
    
  }
  
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .carousel-item img {
    height: 600px; /* Adjust the height as needed */
    object-fit: cover;
}

.carousel-inner {
  border-radius: 20px; /* Adjust the value to change the roundness */
  overflow: hidden; /* Ensure the images don't overflow */
}

/* CSS */
.zoom-effect {
  transition: transform 0.2s; /* Smooth transition */
}

.zoom-effect:hover {
  transform: scale(1.1); /* Zoom in by 10% */
}

img {
  margin-bottom: 20px; /* Add margin below the image */
}

button {
  margin-top: 20px; /* Add margin above the buttons */
}



h1 {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
}